/*
==============================
== 🎨 TYPE COLORS ============
==============================
*/

.normal {
    background-color: #a8a878;
    color: #222;
}

.fire {
    background-color: #ef8030;
    color: #fff;
}

.water {
    background-color: #6890f0;
    color: #fff;
}

.electric {
    background-color: #f9d030;
    color: #222;
}

.grass {
    background-color: #78c84f;
    color: #222;
}

.ice {
    background-color: #99d8d8;
    color: #222;
}

.fighting {
    background-color: #c03128;
    color: #fff;
}

.poison {
    background-color: #a040a0;
    color: #fff;
}

.ground {
    background-color: #e0c068;
    color: #222;
}

.flying {
    background-color: #a790f0;
    color: #222;
}

.psychic {
    background-color: #f85888;
    color: #fff;
}

.bug {
    background-color: #a8b820;
    color: #222;
}

.rock {
    background-color: #b7a039;
    color: #fff;
}

.ghost {
    background-color: #705898;
    color: #fff;
}

.dragon {
    background-color: #7038f8;
    color: #fff;
}

.dark {
    background-color: #6f5848;
    color: #fff;
}

.steel {
    background-color: #b8b8d0;
    color: #222;
}

.fairy {
    background-color: #f0b6bc;
    color: #222;
}
