

@import url('_base.css');
@import url('_typography.css');
@import url('_layout.css');
@import url('_components.css');
@import url('_forms.css');
@import url('_types.css');
@import url('_random.css');


/*
==============================
== BOOTSTRAP =================
==============================
*/

/* Mantén aquí los overrides o ajustes de Bootstrap */
.text-muted {
    color: var(--white);
}

.pokemon-card,
.pokemon-card * {
    font-family: var(--font-text) !important;
}

.text-danger {
        color: #FF6B6B !important;
    }